*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    font-family: "Patrick Hand", cursive;
    line-height: 2;
    background-color: white;
    color: rgb(4, 0, 26);
    background-color: rgb(243, 215, 156);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header{
    background-color: rgb(143, 98, 0);
    padding: 0.62rem;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5rem;
}

.cim{
    font-size: 2.2rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.cim span{
    color: rgb(0, 0, 0);
}

nav{
    padding: 0.5rem 0;
    line-height: 1.25rem;
}
nav a{
    display: inline-block;
    text-decoration: none;
    margin: 0.94rem;
    padding: 0.31rem;
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 0.31rem;
}
nav a:hover{
    color: rgb(0, 153, 255);
    border: 2px solid rgb(0, 153, 255);
}
.logo{
    height: 7.5rem;
    width: auto;
    margin-right: 1.87rem;
    padding: 0;
    position: relative;
}
footer{
    background-color: gray;
    color: #ccc;
}
#kapcsolat{
    padding: 0.62rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#kapcsolat li{
    padding: 0.31rem;
}
.footer-kapcsolat{
    padding: 0.31rem;
    background-color: #ccc;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    border-radius: 0.62rem;
    align-self: center;
    margin: 0 1.25rem;
}
.footer-kapcsolat:hover{
    color: #007bff;
    background-color: #b5dff0;
    border: 1px solid #007bff;
}
.kapcsolat-logo{
    display: flex;
    align-items: center;
}

ul{
    list-style-type: none;
}
main{
    max-width: 100rem;
    margin: 2.5rem auto;
}
/*---------------------index.html--------------------*/

#kezdolapelso{
    font-size: 2.8rem;
    margin: 1.87rem;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 0 black;
    position: absolute;
    left: 3.12rem;
    top:30%
}
#kezdolapmasodik{
    font-size: 2.8rem;
    margin: 1.87rem;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 0 black;
    position: absolute;
    right: 6.25rem;
    bottom: 30%
}

#kezdolapcim{
    font-size: 2.2rem;
    padding: 1.2rem 0;
    border: 1px solid #000000;
    width: 100%;
    height: 37.5rem;
    position: relative;
    background-image: url('../img/kezdolap.png');
    background-size: cover;
    background-position: center;
    border-radius: 12.5rem;
    margin: 3.12rem 0;
}
#kezdolapkep{
    display: inline-block;
    max-width: 78.12rem;
    height: auto;
    border-radius: 12.5rem ;

}
#kezdolap-main{
    padding: 2rem;
}
#article-cim{
    font-size: 2.2rem;
    margin: 5rem 0;
    color: #000;
    font-weight: bold;
}

article{
    float: left;
    margin-right: 2.5rem;
    width: calc(100% - 21.25rem);
    font-size: 1.37rem;
}
#feri-peti-munka{
    max-width: 35rem;
    height: auto;
    float: right;
    margin-left: 1.25rem;
    border-radius: 1.25rem;
}

main aside{
    float: right;
    width: 18.75rem;
}

.ertekelesek{
    padding: 0.62rem;
    margin-bottom: 0.62rem;
}
.iro{
    display: block;
    color: rgb(143, 98, 0);
    font-weight: bold;
    margin: 1.25rem 0;
}
#sajat_ertekeles{
    margin: 2.5rem 0;
}
#sajat_ertekeles input{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.2rem;
}
#sajat_ertekeles input:hover{
    border: 2px solid rgb(0, 153, 255)

}
#sajat_ertekeles button{
    padding: 0.25rem;
    border: 1px solid #000000;
    border-radius: 0.31rem;
}
#sajat_ertekeles button:hover{
    border: 2px solid rgb(0, 153, 255)
}

/*---------------------------------------kapcsolat.html-----------------------------------------*/

.kozepre{
    display: flex;
    justify-content: center;
}

.kapcsolatablak {
    background-color: rgba(184, 126, 1, 0.3);
    padding: 2rem;
    border-radius: 0.5rem;
    min-width: 18.75rem;
    max-width: 37.5rem
}
.kapcsolatablak h1{
    padding: 1.25rem;
}
.kapcsolatablak h2{
    text-align: center;
}

.kapcsolatinput {
    margin-bottom: 0.94rem;
}


#nev, #email, #telefon {
    width: 100%;
    padding: 0.62rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}
#kuldes {
    width: 100%;
    padding: 0.62rem;
    background-color: #007bff;
    color: white;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-top: 1.5em;
}

.message-box {
    margin-top: 0.94rem;
    text-align: center;
    font-size: 1rem;
    min-height: 1.25rem;
}

/*---------------------------termekek.html--------------------------*/

#webshop{
    margin-bottom: 2.5rem;
    position: relative;
}

#webshop h1{
    text-align: center;
    padding: 1.25rem;
    margin: 1.25rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.kosar{
    display: block;
    padding: 0.62rem;
    padding-right: 2.5rem;
    font-size: 1.25rem;
    position: absolute;
    background-color: rgb(9, 192, 9);
    border-radius: 1.25rem;
}
.kosar span{
    position: absolute;
    background-color: red;
    top: -0.62rem;
    right: -0.62rem;
    padding: 0 0.94rem;
    border-radius: 100%;
}

.termekkartya{
    padding: 2.5rem;
    background-color: rgba(146, 139, 109, 0.5);
    width: 62.5rem;
    border-radius: 1.25rem;
}

.termekkartya img{
    display: block;
    max-height: 31.25rem;
    width: auto;
    padding: 1.25rem;
    margin-top: 1.25rem;
}

.t-kovetkezo, .t-elozo{
    display: inline-block;
    padding: 0.625rem;
}
.termekinfo{
    display: block;
}
.kosarbatesz{
    padding: 0.62rem;
    border-radius: 0.62rem;
}

.t-cim, .t-leiras, .t-ar{
    font-weight: bold;
    padding: 0.62rem;
}

.kosarbatesz:hover{
    background-color: rgb(0, 183, 255);
}

/*------------------szakemberek.html--------------------*/

#szakemberek{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 2.5rem;
}
.bemutatkozas{
    padding: 2.5rem;
    margin: 6.25rem 0;
    overflow: auto;

}
#feriprofil{
    max-width: 31.25rem;
    height: auto;
    margin: 0.62rem;
    margin-right: 1.25rem;
    float: left;
    box-sizing: content-box;
    border-radius: 1.25rem;
}
#feri-szoveg{
    margin: 1.25rem;
    font-size: 1.25rem;
}
#petiprofil{
    max-width: 31.25rem;
    height: auto;
    float: right;
    margin: 0.62rem;
    margin-left: 1.25rem;
    box-sizing: content-box;
    border-radius: 1.25rem;
}
#peti-szoveg{
    margin: 1.25rem;
    font-size: 1.25rem;
}
#f-nev, #p-nev{
    text-align: center;
    font-size: 1.87rem;
    font-weight: bold;
    padding: 0.62rem;
}
.bemutatkozas span{
    display: block;
    margin-bottom: 0.94rem;
    font-weight: bold;
}

.bemutato-kepek{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    margin: 6.25rem;
    border-radius: 2.5rem;
}

.peti-kepek, .feri-kepek{
    max-width: 25rem;
    height: auto;
    box-sizing: content-box;
    border-radius: 1.25rem;
    margin: 0.62rem;
    background-color: rgba(119, 89, 7, 0.438);
    padding: 2rem;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

/*------media query-k------*/

@media screen and (max-width: 60em) {
    main {
        max-width: 95%;
        margin: 1rem auto;
    }
        #kezdolapelso, #kezdolapmasodik {
        text-align: center;
        font-size: 1.8rem;
        margin: 0.5rem;
        text-shadow: 2px 2px 0 black; 
    }

    article {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    main aside {
        float: none;
        width: 100%;
        margin-top: 2rem;
    }

    #feri-peti-munka {
        float: none;
        width: 100%;
        margin: 1rem 0;
    }

    .termekkartya {
        width: 100%;
        padding: 1.5rem;
    }
    

    #feriprofil, #petiprofil {
        float: none;
        width: 80%;
        margin: 0 auto 1.5rem auto;
        display: block;
    }
    
    .bemutatkozas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .bemutato-kepek {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    
}

/*------mobil nézet------*/
@media screen and (max-width: 48em) {
    
    header {
        flex-direction: column;
        height: auto;
        padding-bottom: 1rem;
    }

    header div {
        flex-direction: column;
        height: auto;
        margin-bottom: 1rem;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 0.5rem;
        height: 5rem;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    nav a {
        margin: 0.3rem;
        font-size: 1rem;
    }

    /* --- INDEX --- */
    #kezdolapcim {
        height: auto; 
        min-height: 20rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    #kezdolapelso, #kezdolapmasodik {
        position: static; 
        font-size: 1.8rem;
        margin: 0.5rem;
        text-shadow: 2px 2px 0 black; 
    }

    article {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    main aside {
        float: none;
        width: 100%;
        margin-top: 2rem;
    }

    #feri-peti-munka {
        float: none;
        width: 100%;
        margin: 1rem 0;
    }

    /* --- KAPCSOLAT --- */

    .kapcsolatablak {
        min-width: 90%;
        padding: 1rem;
    }

    #kapcsolat {
        flex-direction: column;
    }
    
    .footer-kapcsolat {
        margin: 0.5rem 0;
        width: 100%;
        text-align: center;
    }

    /* --- TERMÉKEK --- */
    .termekkartya {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .termekkartya img {
        margin: 0 auto;
    }

    /* --- SZAKEMBEREK --- */
    .bemutato-kepek {
        flex-direction: column;
        padding: 1rem;
        margin: 2rem 0;
        height: auto;
    }

    .peti-kepek, .feri-kepek {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    
    #feri-szoveg, #peti-szoveg {
        margin: 0.5rem;
        text-align: justify;
    }
}